{% extends "base.html" %}

{% block title %}
	讨论
{% endblock %}

{% block style %}
	.discuss {
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 80px;
	}

	.navbar navbar-expand-lg bg-body-tertiary {
	border-radius: 30px;
	}
{% endblock %}

{% block body %}

	<form class="discuss">
		<div class="list-group list-group-flush border-bottom scrollarea">
			<a href="#" class="list-group-item list-group-item-action active py-3 lh-sm">
				<div class="d-flex w-100 align-items-center justify-content-between">
					<h5><strong class="mb-1">最新讨论</strong></h5>
				</div>
			</a>
			{% for discuss in paginate.items %}
				<a href="/topic/{{ discuss.article_id }}" class="list-group-item list-group-item-action py-3 lh-sm">
					<div class="d-flex w-auto align-items-center justify-content-between">
						<h5 class="mb-1">{{ discuss.article_title }}</h5>
						<small style = "padding-left:400px">{{discuss.article_intro}}</small>
						<small>{{ discuss.article_date }}</small>
					</div>
				</a>
			{% endfor %}

		</div>
		{% if paginate.has_prev %}
			<a href="/discuss/{{ paginate.prev_num}}">上一页</a>
		{% endif %}
		页码：
		{% for i in paginate.iter_pages() %}
			{% if i != paginate.page and i %}
				<a href="/discuss/{{ i }}">{{ i }}</a>
			{% elif i == paginate.page %}
				<strong>{{ i }}</strong>
			{% else %}
				<span>...</span>
			{% endif %}
		{% endfor %}
		{% if paginate.has_next %}
			<a href="/discuss/{{ paginate.next_num }}">下一页</a>
		{% endif %}
	</form>
{% endblock %}

