{% extends "base.html" %}
{% block title %}
	Anime 动漫搜索: {{ queryname }}
{% endblock %}
{% block style %}
	.area{
	border: 1px solid #e5e5e5;
	margin: 0 auto;
	}

{% endblock %}

{% block body %}
	<div class = "container">
		<h3>搜索结果</h3>
		<hr>
		<nav aria-label="Page navigation example">
		</nav>

		{% for item in ame %}
			<div class="bd-example area" style = "margin: 30px">
				<div class="d-flex position-relative">
					<img class="bd-placeholder-img flex-shrink-0 me-3" width="144" height="144" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Generic placeholder image" preserveAspectRatio="xMidYMid slice" focusable="false", alt = "img", src = "{{ item.image }}">
					<div>
						<h5 class="mt-0">{{ item.name_cn }}</h5>
						<div>
                                {{ item.summary }}
						</div>
						<a href="/anime/{{ item.bangumi_id }}" class="stretched-link">查看详情</a>
					</div>
				</div>
			</div>
		{% endfor %}


		<ul class="pagination">
			<li class="page-item"><a class="page-link" href="#">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</div>
{% endblock %}
