{% extends "base.html" %}

{% block title %}
	{{ art.article_title }}
{% endblock %}

{% block style %}
	.discuss {
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 500px;
	}
	.navbar navbar-expand-lg bg-body-tertiary {
	border-radius: 30px;
	}
	.article {
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 500px;
	}
	.comment {
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 500px;
	}
	.time {
	float: right;
	}
{% endblock %}


{% block body %}
	<div class="container-md">
	<div class = "article">
		<h1>{{ art.article_title }}</h1>
		<hr>
		<h5>{{ art.article_text }}</h5>
		<small class = "time">{{ name.user_name }} {{art.article_date }}</small>
		<br>
		<hr>
	</div>
	<div class = "comment">
		<h4 style = "color: #20c997">评论</h4>
		<br>
		<hr>
		{% for i in range(num_comment) %}
			<p>{{ comments[i].comment_text }}</p>
			<small class = "time">{{ users[i]}} {{ comments[i].comment_date }}</small>
			<br>
			<hr>
		{% endfor %}
	</div>

	<div class = "discuss">
		<h4 style = "color: #20c997">发表评论</h4>
		<br>
		<form action = "/topic/{{ art.article_id }}" method = "post">
			<div class="form-group">
				<textarea class="form-control" name = "comment" rows="3" placeholder="请输入评论内容"></textarea>
			</div>
			<br>
			<button type="submit" class="btn btn-primary">发表</button>
		</form>
	</div>
	</div>
{% endblock %}
